In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("train_set.zip", compression="zip")

In [4]:
data.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_455,feature_456,feature_457,feature_458,feature_459,feature_460,feature_461,feature_462,feature_463,target
0,1.056010,-0.502605,-0.05912,-0.14157,-0.092263,-0.20122,-0.14182,-0.051069,-0.032663,-0.099158,...,0,0,0,0,0,1,0,0,0,NaN
1,-0.021112,0.520651,-0.05912,-0.14157,-0.097845,-0.20122,-0.14182,-0.051069,-0.048769,-0.102990,...,0,0,0,0,0,1,0,0,0,NaN
2,-0.236536,-0.781674,-0.05912,-0.14157,-0.097845,-0.20122,-0.14182,-0.051069,-0.048769,-0.102990,...,0,0,0,0,0,1,0,0,0,0.0
3,-0.667385,-0.688651,-0.05912,-0.14157,-0.095054,-0.20122,-0.14182,-0.051069,-0.040716,-0.101074,...,0,0,0,0,0,1,0,0,0,0.0
4,-0.667385,-0.688651,-0.05912,-0.14157,-0.097845,-0.20122,-0.14182,-0.051069,-0.048769,-0.102990,...,0,0,0,0,0,1,0,0,0,NaN